extends layout

block content
  link(rel='stylesheet', href='components/font-awesome/css/font-awesome.css')
  header
    nav
      h1 Crocus
      form#pathForm(name='pathForm')
        input#rootPath(type='text', value=currentDirectory)
        button
          i.fa.fa-2x.fa-refresh
  
    .breadcrumbs
      
  main
    canvas
    svg.svg-mask
    
  
  script(src='components/jquery/dist/jquery.js')
  script(src='components/typeahead.js/dist/typeahead.jquery.js')
  script(src='components/d3/d3.js')
  script(src='/js/bytes.js')
  script(src='/js/visualization.js')
  script(src='/js/main.js')
