extends layout

block content
  header
    nav
      h1 Crocus
      form#pathForm(name='pathForm')
        input#rootPath(type='text', value=currentDirectory)
        button Search
  
    .breadcrumbs
      
  main
    canvas
    svg.svg-mask
    
  
  script(src='components/jquery/dist/jquery.js')
  script(src='components/typeahead.js/dist/typeahead.jquery.js')
  script(src='components/d3/d3.js')
  script(src='/js/bytes.js')
  script(src='/js/main.js')
