body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

svg {
    display: block;
    margin: 50px auto;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}