@import url(https://fonts.googleapis.com/css?family=Pacifico);
$crocusPurple: #A100FF;
body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    background: rgba(200, 200, 200, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 5px 10px 5px rgba(200, 200, 200, 0.5);
    nav {
        text-align: center;
        display: flex;
    }
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    margin: 0 20px;
    color: $crocusPurple;
    vertical-align: middle;
}

.twitter-typeahead {
    flex-grow: 5;
    margin: 0 5px;
    z-index: 101;
    .tt-menu {
        min-width: 100%;
        background: #fff;
        text-align: left;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 20px;
        max-height: 500px;
        overflow: auto;
        .tt-suggestion {
            padding: 5px;
            &.tt-cursor {
                background: #ddd;
            }
        }
    }
}

#pathForm {
    display: flex;
    align-items: center;
    flex-grow: 5;
    margin-top: 20px;
    input {
        width: 100%;
        font-size: 20px;
        padding: 5px;
        border: none;
        box-sizing: border-box;
    }
    button {
        vertical-align: middle;
        background: #ddd;
        border: 1px solid #999;
        margin: 10px;
        margin-right: 20px;
        padding: 5px 7px;
        border-radius: 5px;
        color: $crocusPurple;
    }
}

.breadcrumbs {
    margin-top: 0px;
    padding: 0 20px 10px;
    .crumb-wrapper {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin: 5px 2px;
        padding-left: 15px;
        box-sizing: border-box;
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            z-index: 100;
            left: 0px;
            border-style: solid;
        }
        &:before {
            border-width: 0 15px 15px 0;
            border-color: transparent $crocusPurple transparent transparent;
            top: 0;
        }
        &:after {
            border-width: 0 0 15px 15px;
            border-color: transparent transparent $crocusPurple transparent;
            bottom: 0;
        }
        .crumb {
            display: inline-block;
            background: $crocusPurple;
            color: #fff;
            height: 20px;
            padding: 5px;
            z-index: 100;
            position: relative;
            &:after {
                position: absolute;
                top: 0;
                right: -15px;
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 0 15px 15px;
                border-color: transparent transparent transparent $crocusPurple;
                z-index: 100;
            }
        }
    }
    .size-label {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        font-weight: 700;
    }
}

main {
    position: relative;
    margin-top: 200px;
    .error-message {
        background: #ddd;
        font-size: 24px;
        font-family: Helvetica, sans-serif;
        padding: 30px;
        margin: 30px;
        border-radius: 10px;
    }
    canvas {
        //position: absolute;
    }
    svg {
        position: absolute;
        top: 0;
        display: block;
        margin: 0px auto;
    }
}

path {
    stroke: #fff;
    fill-rule: evenodd;
    fill: transparent;
    .highlightable &.highlight {
        fill: rgba(255, 255, 255, 0.5);
    }
}

.loading-indicator {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        text-align: center;
        background: rgba(150, 150, 150, 0.25);
        border-radius: 200px;
    }
}